.forgot-password {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  isolation: isolate;
  gap: 0;
  line-height: normal;
  letter-spacing: normal;
  min-height: 100vh;
  background-color: transparent;
}
.gradient-icon {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.forgot-password-inner {
  width: 1040px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 28px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-64);
  color: var(--color-whitesmoke);
  font-family: var(--font-normal-tm);
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 205px;
  max-width: 100%;
}
.curita-parent,
.frame-parent {
  display: flex;
  align-items: flex-start;
}
.curita,
.shadowing {
  margin: 0;
  width: 129px;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.shadowing {
  z-index: 2;
  margin: 0 0 0-129px;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  text-align: left;
  font-size: 75px;
  color: var(--color-whitesmoke);
  font-family: var(--font-normal-tm);
}
.frame-group,
.frame-wrapper,
.shadowing-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 744px;
  flex-direction: column;
  gap: 35px;
}
.shadowing-wrapper {
  padding: var(--padding-0) 82px var(--padding-0) 138px;
  box-sizing: border-box;
}
.shadowing2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.frame-container {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 36px;
  box-sizing: border-box;
  gap: 17px;
  max-width: 100%;
  font-size: var(--fs-48);
}
.frame-container,
.frame-div,
.shadowing-container {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  width: 522px;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
}
.shadowing-container {
  width: 312px;
  padding: var(--padding-0) 38px;
  box-sizing: border-box;
}
.enter-your-email,
.shadowing3 {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.shadowing3 {
  flex: 1;
  font-size: inherit;
  line-height: 54px;
}
.enter-your-email {
  align-self: stretch;
  font-size: var(--fs-32);
  text-align: center;
  text-shadow: var(--text-shadow-1);
  white-space: nowrap;
}
.frame-child,
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke);
  height: 110px;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-20);
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 38px;
  min-width: 250px;
}
.frame-wrapper2 {
  height: var(--height-72);
  padding: var(--padding-0) 105px var(--padding-0) 142px;
  max-width: 100%;
}
.frame-item,
.rectangle-parent {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-20);
  background-color: var(--color-darkslateblue);
  max-width: 100%;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 9px 172px 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-parent:hover {
  background-color: var(--color-steelblue);
}
.frame-item {
  height: var(--height-72);
  width: 497px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
frame-1png,
.shadowing4 {
  flex-shrink: 0;
  text-align: left;
  color: var(--color-whitesmoke);
  font-family: var(--font-normal-tm);
.shadowing4 {
  margin: 0;
  width: 153px;
  position: relative;
  font-size: var(--fs-48);
  font-weight: 400;
  display: inline-block;
  z-index: 2;
}
.footer {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 24px;
  gap: 6px;
  min-height: 200px;

  background-image: url("../Frame 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  box-sizing: border-box;
}
  
.curita-wrapper,
.frame-1png,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-parent2 {
  width: 341px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  max-width: 100%;
  flex-shrink: 0;
}
.curita-wrapper {
  height: 95px;
  padding: var(--padding-0) 34px;
}
.curita2,
.curita3,
.found-for-you {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
}
.curita2 {
  width: 168px;
  font-size: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.curita3,
.found-for-you {
  font-size: var(--fs-32);
  text-align: center;
  text-shadow: var(--text-shadow-1);
}
.found-for-you {
  align-self: stretch;
  white-space: nowrap;
}
.curita3 {
  width: 321px;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
}
@media screen and (max-width: 975px) {
  .frame-parent {
    gap: 102px;
  }
  .curita,
  .shadowing {
    font-size: 51px;
    line-height: 43px;
  }
  .frame-group {
    gap: 17px;
  }
  .shadowing-wrapper {
    padding-left: 69px;
    padding-right: 41px;
    box-sizing: border-box;
  }
  .shadowing2 {
    font-size: 60px;
  }
  .shadowing3 {
    font-size: 38px;
    line-height: 43px;
  }
  .enter-your-email {
    font-size: var(--fs-26);
  }
  .frame-wrapper2 {
    padding-left: 71px;
    padding-right: 52px;
    box-sizing: border-box;
  }
  .shadowing4 {
    font-size: 38px;
  }
  .curita2 {
    font-size: 40px;
  }
  .curita3,
  .found-for-you {
    font-size: var(--fs-26);
  }
}
@media screen and (max-width: 700px) {
  .forgot-password {
    gap: 316px;
  }
  .frame-parent {
    gap: 51px;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password {
    gap: 158px;
  }
  .curita,
  .shadowing {
    font-size: 38px;
    line-height: var(--lh-32);
  }
  .shadowing-wrapper {
    padding-left: var(--padding-20);
    box-sizing: border-box;
  }
  .shadowing2 {
    font-size: 45px;
  }
  .shadowing3 {
    font-size: 29px;
    line-height: var(--lh-32);
  }
  .enter-your-email {
    font-size: var(--fs-19);
  }
  .frame-wrapper2,
  .rectangle-parent {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .shadowing4 {
    font-size: 29px;
  }
  .frame-1png {
    gap: 65px;
    padding-top: var(--padding-20);
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .curita2 {
    font-size: 24px;
  }
  .curita3,
  .found-for-you {
    font-size: var(--fs-19);
  }
}
